Repository chef/chef-dk, pull requests merged in 2018-08, with the labels that each got.

#1667 Sign off on dependency updating PRs
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#1674 Add missing license field to the Gemspec
  chef-dk.gemspec
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#1675 Add DockerHub badges
  README.md
Labels: Expeditor: Skip Build

#1677 Add a sleep to the dep updater in Expeditor
  .expeditor/update_dep.sh
  .expeditor/update_dockerfile.sh
Labels: Expeditor: Skip All

#1679 Automatically update Chef version when it's promoted
  .expeditor/config.yml
  .expeditor/update_chef.sh
Labels: Expeditor: Skip All

#1683 Simplify / fix rake task for updating gem dependencies
  .expeditor/update_chef.sh
  .expeditor/update_dep.sh
  ci/dependency_update.sh
  tasks/dependencies.rb
Labels: Expeditor: Skip Build

#1684 Switch docker container to Ubuntu 18.04 and fix Ruby path
  Dockerfile
Labels: Expeditor: Skip Build
