Repository chef/chef-dk, pull requests merged in 2019-02, with the labels that each got.

#1966 Test on the xenial boxes in Travis
  .travis.yml
Labels: Expeditor: Skip All

#1969 Add EXPEDITOR_ prefix to environment variables
  .expeditor/update_chef.sh
  .expeditor/update_dep.sh
  .expeditor/update_dockerfile.sh
Labels: Expeditor: Skip All

#1976 Add individual Github templates
  .github/ISSUE_TEMPLATE/BUG_TEMPLATE.md
  .github/ISSUE_TEMPLATE/ENHANCEMENT_REQUEST_TEMPLATE.md
  .github/ISSUE_TEMPLATE/SUPPORT_QUESTION.md
Labels: Expeditor: Skip All

#1978 Prepare DK to branch chefdk-3 as the stable branch
  .expeditor/config.yml
  .expeditor/update_dep.sh
  .travis.yml
  appveyor.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#1614 Remove chef-provisioning from DK
  .expeditor/config.yml
  Gemfile
  Gemfile.lock
  chef-dk.gemspec
  lib/chef-dk/builtin_commands.rb
  lib/chef-dk/command/provision.rb
  lib/chef-dk/command/verify.rb
  omnibus/Gemfile.lock
  omnibus/config/software/chef-dk.rb
  spec/unit/command/provision_spec.rb
  spec/unit/command/verify_spec.rb
Labels: Expeditor: Bump Version Major
