Repository chef/chef-dk, pull requests merged in 2019-01, with the labels that each got.

#1917 Missing required gems for rake to run tasks
  .expeditor/update_dep.sh
  .github/CODEOWNERS
Labels: Expeditor: Skip All

#1919 Need to install Bundler 2.0 until they make 1.x compatible with 2.x written lock files
  Gemfile.lock
  appveyor.yml
Labels: Expeditor: Skip All

#1915 Promote Hab package alongside Omnibus package
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1930 Start ChefDK 3.7 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#1939 Fixing our expeditor labels to match pre-generated ones in Github
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1946 Bumping to 3.8 for new minor version development.
  RELEASE_NOTES.md
Labels: Expeditor: Bump Version Minor

#1947 Bump version to 3.8.0 due to expeditor failure.
  VERSION
Labels: Expeditor: Skip Version Bump
